#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    cursor: crosshair;
    z-index: 999999;
}


.selection {
    position: absolute;
    border: 2px dashed #fff;
    background: rgba(255,255,255,0.1);
}